{% extends 'new/default.html'%}

{% load i18n %}
{% load filters %}

{% block title %}{{ new.title|censorship}}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ new.title|censorship }}</h1>
        <p align="left">{% trans "дата публикации" %}<b>{{ new.date|date:'d.M.Y'}}</b></p>
        <p>{{ new.text|censorship }}</p>
        <a href="{% url 'delete' new.id %}" class="btn btn-danger">{% trans "Удалить" %}</a>
        <a href="{% url 'updata' new.id %}" class="btn btn-info">{% trans "Редактировать" %}</a>

    </div>
{% endblock %}